.hero {
  position: relative;
  height: 400px;
  background-image: url(./bank-tree.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -50px;
  background-attachment: fixed;
  background-position: 0% 33%;
  background-attachment: inherit;
}

.hero-content {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 300px;
  margin: 2rem;
  background: white;
  padding: 2rem;
  text-align: left;
}

.subtitle {
  font-weight: bold;
  margin: 0;
  font-size: 24px;
}

.text {
  font-size: 19px;
}

.features {
  display: flex;
  flex-direction: row;

}