.account {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      color: #2c3e50;
      background-color: white;
      padding: 24px;
}

.account-light {
      border: solid;
      border-color: rgb(186 201 214);
}

.account-content-wrapper {
      display: flex;
      flex-direction: column;
}

.account-title {
      margin: 0;
      padding: 0;
      font-size: 1rem;
      font-weight: normal;
}

.dark-text {
      color: black;
      font-weight: 500;
}

.account-amount {
      margin: 0;
      font-size: 2.5rem;
      font-weight: bold;
}

.account-amount-description {
      margin: 0;
}

.box-transaction-button {
      display: flex;
      align-items: center;
}

.transaction-dark-button {
      width: 200px;
      height: 50px;
      padding: 8px;
      font-size: 1.1rem;
      font-weight: bold;
      border: none;
      background-color: #00bc77;
      color: #fff;
      border-style: outset;
      border-image: initial;
      border-width: 2px;
      border-color: #00bc77;
}

.transaction-light-button {
      width: 200px;
      height: 50px;
      padding: 8px;
      font-size: 1.1rem;
      font-weight: bold;
      border: none;
      background-color: #5D60EE;
      color: #fff;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
}

@media screen and (min-width: 416px) and (max-width:768px) {}

@media screen and (max-width: 415px) {

      .transaction-dark-button,
      .transaction-light-button {
            margin-top: 1rem;
            width: 100%;

      }
}